<p-dialog [(visible)]="showForm" [modal]="true" (onHide)="close()" (onShow)="isEditing()" [resizable]="false" [style]="{width: '60vw', height: '70vh'}">
    <ng-template pTemplate="header">
        <b class="title">{{ getTitle() }}</b>
    </ng-template>

    <form [formGroup]="formGroup">
        <div class="formgrid grid">
            <div class="field col-6">
                <label for="firstName">Primeiro Nome: </label>
                <input pInputText
                       id="firstName"
                       type="text"
                       formControlName="firstName"
                       autofocus
                       class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="field col-6">
                <label for="lastName">Último Nome: </label>
                <input pInputText
                       id="lastName"
                       type="text"
                       formControlName="lastName"
                       class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="field col-6">
                <label for="cpf">CPF: </label>
                <input pInputText
                       id="cpf"
                       type="text"
                       formControlName="cpf"
                       class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="field col-6">
                <label for="email">E-mail: </label>
                <input pInputText
                       id="email"
                       type="text"
                       formControlName="email"
                       class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>

            <div class="field col-4">
                <label for="birthDate">Data de Nascimento: </label>
                <p-calendar id="birthDate"
                            dateFormat="dd/mm/yy"
                            appendTo="body"
                            formControlName="birthDate"
                            class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></p-calendar>
            </div>

            <div class="field col-4">
                <label for="admissionDate">Data de Admissão: </label>
                <p-calendar id="admissionDate"
                            dateFormat="dd/mm/yy"
                            appendTo="body"
                            formControlName="admissionDate"
                            class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></p-calendar>
            </div>

            <div class="field col-4">
                <label for="seniority">Senioridade: </label>
                <p-dropdown id="senioridade"
                            [options]="dropdownSeniorities"
                            optionLabel="label"
                            optionValue="value"
                            formControlName="idSeniority"
                            appendTo="body"
                            class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></p-dropdown>
            </div>

            <div class="field col-12" style="border-top: 2px solid #bbb;"></div>

            <div class="field col-12" style="text-align: center">
                <span style="font-weight: bold">Adicionar Competências</span>
            </div>

            <div class="field col-4">
                <label for="competencies">Competências: </label>
                <p-dropdown id="competencies"
                            [options]="dropdownCompetencies"
                            optionLabel="label"
                            optionValue="value"
                            placeholder="Selecione uma competência"
                            appendTo="body"
                            [(ngModel)]="idCompetencySelected"
                            [ngModelOptions]="{standalone: true}"
                            class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></p-dropdown>
            </div>

            <div class="field col-4">
                <label for="levelCompetency">Nível: </label>
                <p-dropdown id="levelCompetency"
                            [options]="dropdownLevelCompetency"
                            optionLabel="label"
                            optionValue="value"
                            placeholder="Selecione o nível"
                            appendTo="body"
                            [(ngModel)]="idLevelCompetencySelected"
                            [ngModelOptions]="{standalone: true}"
                            class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></p-dropdown>
            </div>

            <div class="field col-4">
                <button pButton
                        type="button"
                        label="Adicionar"
                        class="p-button-raised p-button-rounded p-button-secondary"
                        (click)="addCompetency()"></button>
            </div>

            <div class="field col-12">
                <p-table [value]="competenciesSelected">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Competência</th>
                            <th>Nível</th>
                            <th>Excluir</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-competency>
                        <tr>
                            <td>{{ competency.nameCompetency }}</td>
                            <td>{{ competency.nameLevelCompetency }}</td>
                            <td>
                                <button pButton
                                        type="button"
                                        label="Excluir"
                                        class="p-button-raised p-button-rounded p-button-secondary"
                                        (click)="excludeCompetency(competency)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="footer">
            <button pButton
                    type="button"
                    label="Cancelar"
                    class="p-button-raised p-button-rounded p-button-secondary"
                    (click)="close()"></button>

            <button pButton
                    type="button"
                    label="{{ getLabelButtonSubmit() }}"
                    class="p-button-raised p-button-rounded p-button-secondary"
                    (click)="submitForm()"></button>
        </div>
    </ng-template>
</p-dialog>

