<p-dialog [(visible)]="displayForm"
          [modal]="true"
          [draggable]="false"
          [resizable]="false"
          [style]="{ width: '50vw' }"
          (onHide)="hideForm()"
          (onShow)="showForm()">
  <ng-template pTemplate="header">
    <h4>{{ getTitle() }}</h4>
  </ng-template>

  <form [formGroup]="form">
    <div class="grid">
      <div class="col-12">
        <label for="name">Name</label>
        <input id="name" type="text" pInputText formControlName="name" class=" w-full">
        <div *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty && form.get('name')?.touched)">
          <span class="alert-invalid-field" *ngIf="form.get('name')?.hasError('required')">The name field is required</span>
          <span class="alert-invalid-field" *ngIf="form.get('name')?.hasError('minlength')">The name field must have at least 3 characters</span>
          <span class="alert-invalid-field" *ngIf="form.get('name')?.hasError('maxlength')">The name field must have a maximum of 50 characters</span>
        </div>
      </div>

      <div class="col-12">
        <label for="description">Description</label>
        <input id="description" type="text" pInputText formControlName="description" class=" w-full">
        <div *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty && form.get('description')?.touched)">
          <span class="alert-invalid-field" *ngIf="form.get('description')?.hasError('required')">The description field is required</span>
          <span class="alert-invalid-field" *ngIf="form.get('description')?.hasError('minlength')">The description field must have at least 3 characters</span>
          <span class="alert-invalid-field" *ngIf="form.get('description')?.hasError('maxlength')">The description field must have a maximum of 50 characters</span>
        </div>
      </div>

      <div class="col-12">
        <label for="category">Category</label>
        <p-dropdown id="category"
                    [style]="{'width':'100%'}"
                    [options]="optionsCategory"
                    optionLabel="label"
                    optionValue="value"
                    formControlName="idCategory"
                    appendTo="body"></p-dropdown>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Close" class="gray-button" (click)="hideForm()"></button>
    <button pButton pRipple [label]="getNamePersistButton()" class="gray-button" (click)="persistForm()" [disabled]="isFormInvalid()"></button>
  </ng-template>

</p-dialog>

<p-toast></p-toast>
