<p-dialog [(visible)]="showForm" [modal]="true" (onHide)="close()" (onShow)="selectedAction()" [resizable]="false" [style]="{width: '35vw'}">
    <ng-template pTemplate="header">
        <b class="title">{{ getTitle() }}</b>
    </ng-template>

    <form [formGroup]="formGroup">
        <div class="formgrid grid">
            <div class="field col-12">
                <label for="name">Nome: </label>
                <input id="name" type="text" formControlName="name" pInputText class="width-100" autofocus>
            </div>

            <div class="field col-12">
                <label for="description">Descrição: </label>
                <input id="description" type="text" formControlName="description" pInputText class="width-100">
            </div>

            <div class="field col-12">
                <label for="category" class="width-100">Categoria: </label>
                <p-dropdown [options]="dropdownCategories"
                            optionLabel="label"
                            optionValue="value"
                            formControlName="idCategory"
                            placeholder="Selecionar Competência" appendTo="body"></p-dropdown>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="footer">
            <button pButton
                    type="button"
                    label="Cancelar"
                    class="p-button-raised p-button-rounded p-button-secondary"
                    (click)="close()"></button>

            <button pButton
                    type="button"
                    label="{{ getLabelButtonSubmit() }}"
                    class="p-button-raised p-button-rounded p-button-secondary"
                    (click)="submit()"></button>
        </div>
    </ng-template>
</p-dialog>
