.width-100 {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-control-alert {
    color: red;
}
