<p-dialog [(visible)]="showForm" [modal]="true" (onHide)="close()" (onShow)="selectedAction()" [resizable]="false" [style]="{width: '35vw'}">
    <ng-template pTemplate="header">
        <b class="title">{{ getTitle() }}</b>
    </ng-template>

    <form [formGroup]="formGroup" appFormAutoFocus #focusInput="focusInvalidInput">
        <div class="formgrid grid">
            <div class="field col-12">
                <label for="name">Nome: </label>
                <input id="name" type="text" formControlName="name" pInputText class="width-100" autofocus>
                <div *ngIf="formGroup.controls['name'].invalid && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)">
                    <div *ngIf="formGroup.controls['name'].errors?.['required']">
                        <span class="form-control-alert">O campo nome é obrigatório !</span>
                    </div>
                    <div *ngIf="formGroup.controls['name'].errors?.['minlength']">
                        <span class="form-control-alert">O campo nome deve possuir no mínimo 3 caracteres!</span>
                    </div>
                    <div *ngIf="formGroup.controls['name'].errors?.['maxlength']">
                        <span class="form-control-alert">O campo nome deve possuir no máximo 50 caracteres!</span>
                    </div>
                </div>
            </div>

            <div class="field col-12">
                <label for="description">Descrição: </label>
                <input id="description" type="text" formControlName="description" pInputText class="width-100">
                <div *ngIf="formGroup.controls['description'].invalid && (formGroup.controls['description'].dirty || formGroup.controls['description'].touched)">
                    <div *ngIf="formGroup.controls['description'].errors?.['required']">
                        <span class="form-control-alert">O campo decrição é obrigatório !</span>
                    </div>
                    <div *ngIf="formGroup.controls['description'].errors?.['minlength']">
                        <span class="form-control-alert">O campo descrição deve possuir no mínimo 3 caracteres!</span>
                    </div>
                    <div *ngIf="formGroup.controls['description'].errors?.['maxlength']">
                        <span class="form-control-alert">O campo descrição deve possuir no máximo 50 caracteres!</span>
                    </div>
                </div>
            </div>

            <div class="field col-12">
                <label for="category" class="width-100">Categoria: </label>
                <p-dropdown [options]="dropdownCategories"
                            optionLabel="label"
                            optionValue="value"
                            formControlName="idCategory"
                            placeholder="Selecionar Competência" appendTo="body"></p-dropdown>
                <div *ngIf="formGroup.controls['idCategory'].invalid && (formGroup.controls['idCategory'].dirty || formGroup.controls['idCategory'].touched)">
                    <div *ngIf="formGroup.controls['idCategory'].errors?.['required']">
                        <span class="form-control-alert">O campo categoria é obrigatório!</span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="footer">
            <button pButton
                    type="button"
                    label="Cancelar"
                    class="p-button-raised p-button-rounded p-button-secondary"
                    (click)="close()"></button>

            <button pButton
                    type="button"
                    label="{{ getLabelButtonSubmit() }}"
                    class="p-button-raised p-button-rounded p-button-secondary"
                    (click)="submit();focusInput.focus()"></button>
        </div>
    </ng-template>
</p-dialog>
