<div class="top-layout">
    <button pButton
        type="button"
        class="p-button-raised p-button-rounded p-button-success"
        icon="pi pi-fw pi-pencil"
        pTooltip="Cadastrar Competência"
        tooltipPosition="top"
        (click)="openForm()"></button>

    <h3 class="title">Competências</h3>
</div>

<p-table [columns]="cols" [value]="competencies">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-competency let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <div *ngIf="isStringField(col.field)">
                    {{ competency[col.field] }}
                </div>
                <div *ngIf="col.field === 'idCategory'">
                    {{ getCategoryName(competency[col.field]) }}
                </div>
                <div *ngIf="col.field === 'actions'">
                    <div class="action-buttons">
                        <button pButton
                                type="button"
                                label="Editar"
                                class="p-button-raised p-button-rounded p-button-secondary"></button>
                        <button pButton
                                type="button"
                                label="Excluir"
                                class="p-button-raised p-button-rounded p-button-danger"
                                (click)="confirmDeleteCompetency(competency)"></button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-competency-form [showForm]="displayForm" (closeForm)="closeForm()"></app-competency-form>

<p-toast></p-toast>

<p-confirmDialog header="Excluir competência"
                 acceptLabel="Sim"
                 rejectLabel="Não"
                 acceptButtonStyleClass="p-button-secondary p-button-sm"
                 rejectButtonStyleClass="p-button-secondary p-button-sm"></p-confirmDialog>
