<div class="top-layout">
    <button pButton
            type="button"
            class="p-button-raised p-button-rounded p-button-success"
            icon="pi pi-fw pi-pencil"
            pTooltip="Cadastrar Competência"
            tooltipPosition="top"
            (click)="createCompetency()"></button>

    <h3 class="title">Competências</h3>
</div>

<p-accordion (onClose)="cleanFilter()">
    <p-accordionTab header="Filtro">
        <form [formGroup]="filterForm" (ngSubmit)="searchButton()">
            <div class="formgrid grid">
                <div class="field col-2">
                    <label for="name">Nome: </label>
                    <input id="name" type="text" formControlName="name" pInputText style="width: 100%">
                </div>

                <div class="field col-2">
                    <label for="description">Descrição: </label>
                    <input id="description" type="text" formControlName="description" pInputText style="width: 100%">
                </div>

                <div class="field col-2">
                    <label for="category" style="width: 100%">Categoria: </label>
                    <p-dropdown [options]="dropdownCategories"
                                optionLabel="label"
                                optionValue="value"
                                formControlName="idCategory"
                                placeholder="Selecionar Categoria" appendTo="body"></p-dropdown>
                </div>

                <div class="field col-6" style="display: flex; justify-content: space-evenly; align-items: center">
                    <div class="field col-3">
                        <button pButton
                                type="submit"
                                label="Pesquisar"
                                class="p-button-raised p-button-rounded p-button-secondary"></button>
                    </div>

                    <div class="field col-3">
                        <button pButton
                                type="button"
                                label="Limpar"
                                class="p-button-raised p-button-rounded p-button-secondary"
                                (click)="cleanFilter()"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-accordionTab>
</p-accordion>

<p-table [columns]="cols" [value]="competencies">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-competency let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <div *ngIf="col.field !== 'actions'">
                    {{ competency[col.field] }}
                </div>
                <div *ngIf="col.field === 'actions'">
                    <div class="action-buttons">
                        <button pButton
                                type="button"
                                label="Editar"
                                class="p-button-raised p-button-rounded p-button-secondary"
                                (click)="defineCompetencyToUpdate(competency)"></button>
                        <button pButton
                                type="button"
                                label="Excluir"
                                class="p-button-raised p-button-rounded p-button-danger"
                                (click)="confirmDeleteCompetency(competency)"></button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-competency-form [showForm]="displayForm"
                     (closeForm)="closeForm()"
                     (refreshCompetencies)="refreshCompetencies()"
                     [competencyToUpdate]="selectedCompetency"
                     [typeAction]="action"></app-competency-form>

<p-toast></p-toast>

<p-paginator #paginator
             [rowsPerPageOptions]="[5, 10, 15, 20]"
             [totalRecords]="totalElements"
             (onPageChange)="paginate($event)"></p-paginator>

<p-confirmDialog header="Excluir competência"
                 acceptLabel="Sim"
                 rejectLabel="Não"
                 acceptButtonStyleClass="p-button-secondary p-button-sm"
                 rejectButtonStyleClass="p-button-secondary p-button-sm"></p-confirmDialog>
