<div>
  <h2 id="page-heading" data-cy="ContributorHeading">
    <span jhiTranslate="gatewaySgcApp.coreSgcContributor.home.title">Contributors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewaySgcApp.coreSgcContributor.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contributor"
        [routerLink]="['/contributor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewaySgcApp.coreSgcContributor.home.createLabel"> Criar novo Contributor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="contributors?.length === 0">
    <span jhiTranslate="gatewaySgcApp.coreSgcContributor.home.notFound">Nenhum Contributor encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="contributors && contributors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="gatewaySgcApp.coreSgcContributor.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="gatewaySgcApp.coreSgcContributor.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cpf">
            <div class="d-flex">
              <span jhiTranslate="gatewaySgcApp.coreSgcContributor.cpf">Cpf</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="gatewaySgcApp.coreSgcContributor.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <div class="d-flex">
              <span jhiTranslate="gatewaySgcApp.coreSgcContributor.creationDate">Creation Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdateDate">
            <div class="d-flex">
              <span jhiTranslate="gatewaySgcApp.coreSgcContributor.lastUpdateDate">Last Update Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="seniority.description">
            <div class="d-flex">
              <span jhiTranslate="gatewaySgcApp.coreSgcContributor.seniority">Seniority</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contributor of contributors; trackBy: trackId" data-cy="entityTable">
          <td>{{ contributor.name }}</td>
          <td>{{ contributor.lastName }}</td>
          <td>{{ contributor.cpf }}</td>
          <td>{{ contributor.email }}</td>
          <td>{{ contributor.creationDate | formatMediumDatetime }}</td>
          <td>{{ contributor.lastUpdateDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="contributor.seniority">
              <a [routerLink]="['/seniority', contributor.seniority.id, 'view']">{{ contributor.seniority.description }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contributor', contributor.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contributor', contributor.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(contributor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contributors && contributors.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
