<div class="top-layout">
    <button pButton
        type="button"
        class="p-button-raised p-button-rounded p-button-success"
        icon="pi pi-check"
        pTooltip="Cadastrar Colaborador"
        tooltipPosition="top"
        (click)="openForm()"></button>

    <h3 class="title">Colaboradores</h3>
</div>

<p-table [columns]="cols" [value]="page.content">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contributor let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <div *ngIf="col.field === 'nameSeniority'">
                    {{ contributor[col.field] }}
                </div>
                <div *ngIf="col.field === 'birthDate'">
                    {{ contributor[col.field] | date: 'dd/MM/yyyy' }}
                </div>
                <div *ngIf="col.field === 'name'">
                    {{ getFullName(contributor) }}
                </div>
                <div *ngIf="col.field === 'actions'">
                    <div class="action-buttons">
                        <button pButton
                                type="button"
                                icon="pi pi-eye"
                                class="p-button-outlined p-button-raised p-button-rounded button-color"
                                pTooltip="Visualizar"
                                tooltipPosition="top"
                        (click)="view()"></button>
                        <button pButton
                                type="button"
                                icon="pi pi-pencil"
                                class="p-button-outlined p-button-raised p-button-rounded button-color"
                                pTooltip="Editar"
                                tooltipPosition="top"
                                (click)="update()"></button>
                         <button pButton
                                type="button"
                                icon="pi pi-trash"
                                class="p-button-outlined p-button-raised p-button-rounded button-color"
                                pTooltip="Excluir"
                                tooltipPosition="top"
                                (click)="delete(contributor)"></button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-toast></p-toast>

<p-confirmDialog header="Excluir Colaborador"
                 acceptLabel="Sim"
                 rejectLabel="Não"
                 acceptButtonStyleClass="p-button-secondary p-button-sm"
                 rejectButtonStyleClass="p-button-secondary p-button-sm"
                 defaultFocus="none"></p-confirmDialog>

<app-contributor-form [contributorToUpdate]="selectedContributor"
                      [editing]="editing"
                      [showForm]="showForm"
                      (closeForm)="closeForm()"></app-contributor-form>
